{
	"root": true,
  "plugins": [
    "prettier",
    "ejs"
  ],
  "extends": [
    "eslint:recommended",
    "standard"
  ],
	"parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
	},
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  }
}
