<% layout('./layout') -%>
<% stylesheet('/public/styles/vendors/izi.min.css') -%>
<% script('/public/scripts/vendors/alpine.min.js') -%>
<% script('/public/scripts/vendors/axios.min.js') -%>
<% script('/public/scripts/vendors/izi.min.js') -%>
<% script('/public/scripts/helpers.js') -%>
<% script('/public/scripts/users.js') -%>

<div class="flex flex-col mt-4">
    <div class="mx-8 p-2 align-middle inline-block">
        <div class="flex justify-end sm:rounded-lg">
            <% includepartials/search %>
            <% includepartials/sort %>
            <% includepartials/purge %>
        </div>
    </div>
</div>
