<header class="bg-gray-800 w-full shadow-lg top-0 left-0 z-5">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-0">
    <div class="flex items-center justify-between h-16">
      <div class="text-gray-400 md:hidden">
        <button class="focus:outline-none">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" />
          </svg>
        </button>
      </div>
      <div class="text-2xl font-semibold text-gray-400 hover:text-gray-500">
        <button onclick="window.location.assign('/')" class="focus:outline-none">HyperHaxZ</button>
      </div>
      <div class="inset-y-0 right-0 flex items-center pr-2">
        <% if (typeof user === 'object' && user.username !== 'undefined') { %>
          <% includemenu %>
        <% } else { %>
          <a href="/auth/login" class="p-0.5 px-3 m-1 text-gray-400 rounded-md hover:bg-blueGray-700 focus:outline-none">Login</a>
          <a href="/auth/register" class="p-0.5 px-3 m-1 text-gray-900 bg-blue-500 rounded-md bg-white hover:text-gray-300 focus:outline-none">Register</a>
        <% } %>
      </div>
    </div>
  </div>
</header>
