<% layout('partials/layout') -%>

<div class="flex flex-col mt-4">
  <div class="max-w-xl sm:mx-auto lg:max-w-2xl my-6">
    <div class="max-w-xl mb-5 mx-auto text-center lg:max-w-2xl">
      <span class="text-gray-600 text-3xl md:text-4xl lg:text-5xl">
        Welcome to HyperHaxZ
      </span>
    </div>
  </div>
  <div class="mx-8 p-2 align-middle inline-block mt-6">
    <div class="flex justify-end sm:rounded-lg">
      <% includedashboard/partials/search %>
      <% includedashboard/partials/sort %>
    </div>
    <% if (!!count) { %>
      <div class="grid md:grid-cols-3 lg:grid-cols-4 gap-4 items-stretch mt-6">
      <% products.forEach(each => { %>
          <div class="h-full border-2 border-blue-500 px-6 py-8 rounded-2xl">
              <a href="#">
                <img class="transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-105 hover:shadow-lg rounded-md" src="https://media.discordapp.net/attachments/835610803985055824/863680761906855946/unknown.png?width=333&height=417">
                <div class="pt-3 flex items-center justify-between">
                  <h2 class="tracking-widest font-medium text-blue-500 mb-4 text-center"><%= each.name %></h2>
                </div>
                <p class="pt-1 text-gray-900">£9.99</p>
              </a>
          </div>
      <% }) %>
      </div>
    <% } else { %>
      <div class="text-lg text-gray-500 text-center"><%= plugins.query.params.q ? 'No such product' : 'No products found' %> in the shop.</div>
    <% } %>
  </div>
</div>
