<nav class="top-0 sticky bg-gray-800 mx-auto px-6 shadow">
    <div class="relative flex justify-end h-14">
        <div class="absolute inset-y-0 right-0 flex items-center pr-2">
            <div class="ml-3 relative" x-data="menu()">
                <button :class="[isMenuOpen ? 'text-gray-700': 'text-gray-500', 'flex focus:outline-none']" @click="toggleMenu">
                    <span class="sr-only">Open user menu</span>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-8 w-8">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                </button>
                <div
                        x-show="isMenuOpen"
                        x-transition:enter="transition ease-out duration-300"
                        x-transition:enter-start="opacity-0 transform scale-90"
                        x-transition:enter-end="opacity-100 transform scale-100"
                        x-transition:leave="transition ease-in duration-300"
                        x-transition:leave-start="opacity-100 transform scale-100"
                        x-transition:leave-end="opacity-0 transform scale-90"
                >
                    <div class="absolute text-gray-400 z-10 right-0 mt-2 w-56 rounded-md shadow-lg bg-gray-800 ring-1 ring-black ring-opacity-5 divide-y divide-gray-700 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
                        <div class="py-1 select-none">
                            <div class="px-4 py-2 text-sm">
                                <span>Signed in as</span><br>
                                <span class="text-gray-500">arpit.ptdr@hotmail.com</span>
                            </div>
                        </div>
                        <div class="py-1">
                            <a href="/auth/logout" class="text-gray-500 block px-4 py-2 text-sm hover:bg-gray-900" role="menuitem">Sign Out</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
