<div class="ml-2 bg-gray-800 shadow rounded-lg" x-data="{ open: false, tooltip: false }">
    <div class="relative">
        <button data-tooltip="Add New" @click="open = !open" class="has-tooltip rounded-lg inline-flex items-center hover:text-blue-500 focus:outline-none text-gray-500 py-2 px-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
            </svg>
        </button>
        <div
                class="dropdown hidden"
                x-show="open"
                @click.away="open = false"
                x-transition:enter="transition ease-out duration-300"
                x-transition:enter-start="opacity-0 transform scale-90"
                x-transition:enter-end="opacity-100 transform scale-100"
                x-transition:leave="transition ease-in duration-300"
                x-transition:leave-start="opacity-100 transform scale-100"
                x-transition:leave-end="opacity-0 transform scale-90"
        >
            <div class="absolute text-gray-400 z-10 right-0 mt-2 w-64 rounded-md shadow-lg bg-gray-800 ring-1 ring-black ring-opacity-5 divide-y divide-gray-700 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
                <div class="h-full border-2 border-blue-500 p-6 rounded-lg">
                    <h2 class="tracking-widest font-medium text-blue-500 mb-4 text-center">UPLOAD NEW FILE</h2>
                    <form action="/dashboard/files/upload?t=<%= csrfToken %>" method="post" enctype="multipart/form-data">
                        <div class="mb-4">
                            <div class="mb-2">
                                <input
                                        name="name"
                                        placeholder="Name"
                                        type="text"
                                        class="border-blueGray-700 bg-blueGray-700 appearance-none rounded-md w-full px-3 py-2 border-2 text-gray-300 focus:outline-none sm:text-sm"
                                        required>
                            </div>
                            <div class="mb-2" x-data="{name: ''}">
                                <label class="block border-blueGray-700 bg-blueGray-700 appearance-none rounded-md w-full px-3 py-2 border-2 text-gray-300 focus:outline-none sm:text-sm cursor-pointer">
                                    <input type="file" name="loader" id="file" class="hidden" @change="name = $event.target.value" required>
                                    <span x-text="name ? name.replace('C:\\fakepath\\', '') : 'Select File'"></span>
                                </label>
                            </div>
                        </div>
                        <div>
                            <button type="submit" class="group relative w-full flex justify-center py-2 px-4 rounded-md bg-blue-600 text-gray-300 shadow-md focus:outline-none">
                                <span class="absolute left-0 inset-y-0 flex items-center pl-3">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5 text-gray-400"><path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd"></path></svg>
                                </span>
                                Upload
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
